body {
    background-color: gray;
    font-size: 130 %;
}

#box1 {
  background-color: blue;
}
#content1 {
  background-color: #90EE90; /*green*/
}

#box2 {
  background-color: blue;
}
#content2 {
  background-color: #90EE90; /*red*/
}

#box3 {
  background-color: blue;
}
#content3 {
  background-color: #90EE90; /*blue*/
}

h1 {
    color: navy;
    text-align: center;
}