body {
    background-color: gray;
    font-size: 130 %;
}

#box1 {
  background-color: blue;
}
#content1 {
  background-color: #FFA500; /*orange*/
}

#box2 {
  background-color: blue;
}
#content2 {
  background-color: #FFFF00; /*yellow*/
}

#box3 {
  background-color: blue;
}
#content3 {
  background-color: #00FFFF; /*lightblue*/
}

h1 {
    color: navy;
    text-align: center;
}